<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="{{url_for('static', filename='login-sign.css')}}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
    href="https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&family=Outfit:wght@100..900&display=swap"
    rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mozilla+Headline:wght@200..700&family=Outfit:wght@100..900&display=swap" rel="stylesheet">

</head>

<body>
    <video id="back" src="{{ url_for('static', filename='6797-196071980.mp4') }}" autoplay loop muted playsinline></video>
    <div class="login-box">
        <div class="inner-box">
            <img src="{{url_for('static', filename='NEXUS white font.png')}}" alt="logo">
            <h2>LOGIN</h2>
            <form method="POST" action="/login" name="login">
                <input class="in" type="email" name="email" placeholder="example@gmail.com" required />
                <input class="in" type="password" name="password" placeholder="Password" required />
                <button id="login-btn" type="submit">Login</button>
            </form>
            <div class="text-center">
                <pre>Don't have an account ? <a href="{{url_for('signup')}}">Sign up</a></pre>
            </div>
        </div>
    </div>

</body>

</html>